/* Override some defaults */
html, body {
  background-image: url(../img/retina_wood.png); background-repeat: repeat;
}
.navbar {
  margin-bottom: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
  position: relative;
}
.navbar .navbar-inner {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dbdbdb));
  background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: -o-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: linear-gradient(to bottom, #ffffff, #dbdbdb);
  border-bottom: 2px solid #dbdbdb;
}

.navbar .container {
  width: 80%;
  line-height: 40px;
}

.navbar .brand {
  font-size: 40px;
}

.navbar .nav {
  float: right;
  padding: 10px;
  font-weight: normal;
}

.navbar .nav > li > a:hover {
  font-weight: bold;
}

.container > footer {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center; /* center align it with the container */
}
.container > footer img{
  padding: 0 3px;
  display: inline;
}
/* The white background content wrapper */
body {
  color: #47443D;
  font-family: arial, helvetica, sans-serif;
}
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content ul li{
  list-style-type: none;
  margin: 20px 0;
}
.content ul li > div{
  display: inline-block;
  vertical-align: middle;
}
.content ul .date {
  font-family: Georgia;
  border-right: 1px solid #99968C;
}
.content ul .month, .day {
  display: block;
  padding-right: 10px;
}
.content ul .month{
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content ul .day{
  font-size: 30px;
}
.content ul .post-info{
  padding-left: 10px
}
/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
